img {
  // margin-top: 5px;
  height: 4rem;
  width: 4rem;
}

.navbar-nav {
  .nav-link {
    font-size: 14px;
    text-transform: titlecase;
    padding-left: 1em;
    padding-right: 1em;
  }
}

.nav-item.active {
  border-bottom: coral 3px solid;
}

.navbar {
  border-bottom: lightgray;
  box-shadow: lightgray 3px 1px;

}

.nav-line {
  margin: .5em;

}

#sub-nav {
  height: 17px;

}

#main-nav{
  height: 55px;
}



