<div class="shadow-sm mb-4">

<nav class="navbar navbar-expand-sm  navbar-light">
  <div class="container">
    <img
      class="navbar-brand"
      src="assets/images/valley-logo.png"
      routerLink="home"
      ngbTooltip="Valley Hostel"
    />
    <button
      class="navbar-toggler"
      data-toggle="collapse "
      data-target="#navNavbar"
    ><fa-icon [class]="fabars"></fa-icon>
      <span class="navbar-toggle-icon"> </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="services">Services</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" routerLink="gallery">Galleries</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about">About us</a>
        </li>
        <li>
          <a class="nav-link" routerLink="contact us">Contact us</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
</div>
<!-- nav bar -->

