#main-footer {
  height: 16em;
  background-color: #F8F9F9;
  padding-top: 1em;
}

.pri-footer {
  height: 12em;
  padding-top: 1em, ;
}

#copyright {

  height: 4em;
  background-color: #F2F3F4;
  font-size: 12px;
}


