<footer id="main-footer" class="text-center">
  <div class="container-fluid pri-footer">
    <div class="row">
      <div class="col-md-4">
        <u class="h6">Developed By</u>
        <p class="mt-2">Kalpaanta Tech Solutions Pvt. Ltd</p>
        <p>
          <fa-icon [icon]="location"></fa-icon>
          Damak, Jhapa, Nepal
        </p>
        <p><fa-icon [icon]="tele"></fa-icon> 023-585468</p>
      </div>
      <div class="col-md-4">
        <u class="h6">
          Location
        </u>
        <p>
          <fa-icon [icon]="location"></fa-icon>
          Chabahil (Infront of Chabahil stupa).</p>
      </div>
      <div class="col-md-4">
        <u class="h6"> Follow Us </u>
        <p>
          <a href="https://www.facebook.com/valleyboyshostel/">
            <fa-icon
              [icon]="fb"
              class="mr-2 ml-2"
              ngbTooltip="Facebook"
            ></fa-icon>
          </a>

          <a href="#">
            <fa-icon [icon]="twitter" class="mr-2" ngbTooltip="Twitter">
            </fa-icon>
          </a>
          <a href="#">
            <fa-icon [icon]="insta" class="mr-2" ngbTooltip="Instagram">
            </fa-icon>
          </a>
        </p>
      </div>
    </div>
    <div class="row mt-4" id="copyright">
      <div class="col-md-12 text-center mt-1">
        Copyright © Valley Boys Hostel {{ date | date: "yyyy" }}, All rights
        reserved.
      </div>

      <blockquote
        class="col-md-12 mt-1 text-center"
        ngbTooltip="kalpaantatechsolutions@gmail.com"
      >
        Powered by Kalpaanta Tech Solutions.<br />
      </blockquote>
    </div>
  </div>
</footer>
