<div class="container ">
  <h1 class="text-center ">Photo Gallary</h1>
  <p class="text-center">Check out our photos...</p>
  <div class="row mb-4">
    <div class="col-md-4 col-sm-2 p-2  ">
      <img src="assets/images/bed_3.jpg" alt="" class="img-fluid" />
    </div>
    <div class="col-md-4 col-sm-2 p-2  ">
      <img src="assets/images/bed_4.jpg" alt="" class="img-fluid" />
    </div>
    <div class="col-md-4 col-sm-2 p-2  ">
      <img src="assets/images/bed_image_1.jpg" alt="" class="img-fluid" />
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-md-4 col-sm-2 p-2">
      <img src="assets/images/bed_image_2.jpg.jpg" alt="" class="img-fluid" />
    </div>
    <div class="col-md-4 col-sm-2 p-2">
      <img src="assets/images/kitchen_image_1.jpg" alt="" class="img-fluid" />
    </div>
    <div class="col-md-4 col-sm-2 p-2">
      <img
        src="assets/images/kitchen_image_2.jpg.jpg"
        alt=""
        class="img-fluid"
      />
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-md-4 col-sm-2 p-2">
      <img src="assets/images/new_year_1.jpg" alt="" class="img-fluid" />
    </div>
    <div class="col-md-4 col-sm-2 p-2">
      <img src="assets/images/new_year-5.jpg" alt="" class="img-fluid" />
    </div>
    <div class="col-md-4 col-sm-2 p-2">
      <img src="assets/images/new.jpg" alt="" class="img-fluid" />
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-md-4 col-sm-2 p-2">
      <img src="assets/images/new_year_3.jpg.jpg" alt="" class="img-fluid" />
    </div>
    <div class="col-md-4 col-sm-2 p-2">
      <img src="assets/images/new_year_2.jpg.jpg" alt="" class="img-fluid" />
    </div>
    <div class="col-md-4 col-sm-2 p-2">
      <img src="assets/images/view.jpg" alt="" class="img-fluid" />
    </div>
  </div>
</div>
