$icon-size:55px;

.picsum-img-wrapper {
  width: 100%;
  height: 550px;
  background-size: cover;

}


fa-icon {
  font-size: $icon-size;
  color: blue;
}

ul .list {
  list-style-position: inside;

}
