#contact-header{
  height: 400px;
  background:url('/assets/images/contact2.jpg');
  background-position:  -800px;
  color: #000;
  padding-top: 12px;
  border-bottom:8px
}

.contact-img{
  height: 275px;
  width: 275px;
  margin-top: -50px;
}
