<header id="contact-header">
  <div class="container">
    <div class="row">
      <div class="col-md-6 m-auto text-center">
        <h1 >Contact us</h1>
        <p></p>
      </div>
    </div>
  </div>
</header>

<div class="container" >
  <div class="row mb-3">
    <div class="col-md-6 m-auto ">
      <h3>
        <u>Location</u>
        </h3>
      <p>Please visit our office at Chabahil (Infront of Chabahil Stupa).</p>
      <p> <fa-icon
        class="mr-3"
        [icon]="tele"
         ngbTooltip="Contact number"
      >
    </fa-icon> 01-512365
    </p>


    </div>
    <div class="col-md-6 m-auto text-center">
      <img
        src="assets/images/valley-hostel-contact.jpg"
        alt="contact"
        class="contact-img img-fluid rounded-circle d-none d-md-block float-right"
      />
    </div>
  </div>
</div>
