<header id="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-8 m-auto text-center">
        <h1>About Us</h1>
        <p>We, at your service since 2016.</p>
      </div>
    </div>
  </div>
</header>

<!-- about section -->
  <div class="container">
    <div class="row">
      <div class="col-md-6 mt-3">
        <h2>What do we do?</h2>
        <p>
          We at valley hostel provide best fooding & lodging service at very
          affordable price.
        </p>
      </div>
      <div class="col-md-6">
        <img
          src="assets/images/services.png"
          alt="services"
          class="about-image img-fluid img-rounded-circle d-none d-md-block "
        />
      </div>
    </div>
  </div>
