#page-header {
  height: 400px;
  background: url('/assets/images/background.jpg');
  background-position: 0 -100px;
  background-attachment: fixed;
  color: #000;
  border-bottom: 1px #eee;
  padding-top: 10px;


}

.about-image{
margin-left: 250px;
height: 500px;
}
